# Fundamentos de Apache Spark: DataFrames

### Crear la sesión de Spark 
* ¿Es necesario en este entorno? prueba a ejecutar el siguiente bloque de "Crear el DataFrame", en caso de que de fallo por la sesion volver a este bloque para tratar de crear la sesión.

### Crear el DataFrame

In [0]:
emp = [(1, "AAA", "dept1", 1000),
    (2, "BBB", "dept1", 1100),
    (3, "CCC", "dept1", 3000),
    (4, "DDD", "dept1", 1500),
    (5, "EEE", "dept2", 8000),
    (6, "FFF", "dept2", 7200),
    (7, "GGG", "dept3", 7100),
    (8, "HHH", "dept3", 3700),
    (9, "III", "dept3", 4500),
    (10, "JJJ", "dept5", 3400)]

dept = [("dept1", "Department - 1"),
        ("dept2", "Department - 2"),
        ("dept3", "Department - 3"),
        ("dept4", "Department - 4")

       ]

df = spark.createDataFrame(emp, ["id", "name", "dept", "salary"])

deptdf = spark.createDataFrame(dept, ["id", "name"])

In [0]:
df.show()

+---+----+-----+------+
| id|name| dept|salary|
+---+----+-----+------+
|  1| AAA|dept1|  1000|
|  2| BBB|dept1|  1100|
|  3| CCC|dept1|  3000|
|  4| DDD|dept1|  1500|
|  5| EEE|dept2|  8000|
|  6| FFF|dept2|  7200|
|  7| GGG|dept3|  7100|
|  8| HHH|dept3|  3700|
|  9| III|dept3|  4500|
| 10| JJJ|dept5|  3400|
+---+----+-----+------+

# Operaciones básicas en DataFrames

### count
* Cuenta el número de filas

### columns
* Muestra los nombres de las columnas

### dtypes
* Muestra el tipo de dato de cada columna

### schema
* Comprueba cómo Spark almacena el esquema del DataFrame

### printSchema
* Imprime el esquema del DataFrame

### select
* Selecciona algunas de las columnas del DataFrame y muestralas

### filter

* Filtrar las filas según alguna condición.
* Intentemos encontrar las filas con id = 1 y mostrar el resultado.
* Hay diferentes formas de especificar la condición, intentar realizarlas.

### drop
* Elimina una columna en particular
* Elimina la columna id

### Aggregations
* Podemos usar la función groupBy para agrupar los datos y luego usar la función "agg" para realizar la agregación de datos agrupados.
* Agrupa por la columna "dept" y prueba algunas funciones de agregación como sum, max, min...

### Sorting

* Ordena los datos según el "salary". De forma predeterminada, la clasificación se realizará en orden ascendente.

### Columnas derivadas
* Podemos usar la función "withColumn" para crear una nueva columnaen función de las columnas existentes.
* Crea una nueva columna llamada "bonus" cuyo valor sea el 10% del valor de la columna "salary"

### Joins

* Podemos realizar varios tipos de combinaciones en múltiples DataFrames.
* Raliza un join del DataFrame "df" con el Dataframe "deptdf"
* Prueba otros tipos de join