In [397]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [398]:
# Cargamos el dataset
vinos_df = pd.read_csv('../resources/winek.csv')

vinos_df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [399]:
vinos_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129971 entries, 0 to 129970
Data columns (total 14 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             129971 non-null  int64
 1   country                129908 non-null  object
 2   description            129971 non-null  object
 3   designation            92506 non-null   object
 4   points                 129971 non-null  int64
 5   price                  120975 non-null  float64
 6   province               129908 non-null  object
 7   region_1               108724 non-null  object
 8   region_2               50511 non-null   object
 9   taster_name            103727 non-null  object
 10  taster_twitter_handle  98758 non-null   object
 11  title                  129971 non-null  object
 12  variety                129970 non-null  object
 13  winery                 129971 non-null  object
dtypes: float64(1), int64(2), object(11)
memory usage: 13.9+ MB

---

Las siguientes celdas se usan en Databricks pq fallaba la importacion de pandas en el notebook.

Se importa con PySpack y luego se transforma en un dataframe de pandas.

In [400]:
# from pyspark.sql import SparkSession

# spark = SparkSession.builder.appName("WineDataAnalysis").getOrCreate()

# df = spark.read.csv("../resources/winek.csv", header=True, inferSchema=True)
# df.show()

In [401]:
# reviews = df.toPandas()
# reviews.dtypes

In [402]:
# reviews = reviews.drop('_c0', axis=1)

# reviews

---

In [403]:
# Eliminas la columna Unnamed: 0 que se crea automáticamente cuando se lee un csv

vinos_df = vinos_df.drop('Unnamed: 0', axis=1)

## head( )  --> muestra las primeras filas

In [404]:
vinos_df.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

## tail( ) --> muestra las ultimas filas

In [405]:
vinos_df.tail()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

## shape() --> Muestra el tamaño de un DataFrame

In [406]:
vinos_df.shape

(129971, 13)

## info() --> Muestra información sobre el dataframe

In [407]:
vinos_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129971 entries, 0 to 129970
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   country                129908 non-null  object
 1   description            129971 non-null  object
 2   designation            92506 non-null   object
 3   points                 129971 non-null  int64
 4   price                  120975 non-null  float64
 5   province               129908 non-null  object
 6   region_1               108724 non-null  object
 7   region_2               50511 non-null   object
 8   taster_name            103727 non-null  object
 9   taster_twitter_handle  98758 non-null   object
 10  title                  129971 non-null  object
 11  variety                129970 non-null  object
 12  winery                 129971 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 12.9+ MB

### Revisar el tipo de datos.
Siempre se debe revisar si los tipos de datos son correctos

In [408]:
print(vinos_df.info(memory_usage='deep'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129971 entries, 0 to 129970
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   country                129908 non-null  object
 1   description            129971 non-null  object
 2   designation            92506 non-null   object
 3   points                 129971 non-null  int64
 4   price                  120975 non-null  float64
 5   province               129908 non-null  object
 6   region_1               108724 non-null  object
 7   region_2               50511 non-null   object
 8   taster_name            103727 non-null  object
 9   taster_twitter_handle  98758 non-null   object
 10  title                  129971 non-null  object
 11  variety                129970 non-null  object
 12  winery                 129971 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 127.9 MB
None

In [409]:
# Convertir columnas a tipos optimizados
vinos_df['country'] = vinos_df['country'].astype('string')
vinos_df['designation'] = vinos_df['designation'].astype('string')
vinos_df['province'] = vinos_df['province'].astype('string')
vinos_df['region_1'] = vinos_df['region_1'].astype('string')
vinos_df['region_2'] = vinos_df['region_2'].astype('string')
vinos_df['taster_name'] = vinos_df['taster_name'].astype('string')
vinos_df['taster_twitter_handle'] = vinos_df['taster_twitter_handle'].astype('string')
vinos_df['variety'] = vinos_df['variety'].astype('string')
vinos_df['winery'] = vinos_df['winery'].astype('string')

# Optimizar columnas numéricas
vinos_df['points'] = vinos_df['points'].astype('int8')  # Si el rango está entre 0-127
vinos_df['price'] = vinos_df['price'].astype('float32')

In [410]:
print(vinos_df.info(memory_usage='deep'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129971 entries, 0 to 129970
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   country                129908 non-null  string
 1   description            129971 non-null  object
 2   designation            92506 non-null   string
 3   points                 129971 non-null  int8
 4   price                  120975 non-null  float32
 5   province               129908 non-null  string
 6   region_1               108724 non-null  string
 7   region_2               50511 non-null   string
 8   taster_name            103727 non-null  string
 9   taster_twitter_handle  98758 non-null   string
 10  title                  129971 non-null  object
 11  variety                129970 non-null  string
 12  winery                 129971 non-null  string
dtypes: float32(1), int8(1), object(2), string(9)
memory usage: 131.0 MB
None

In [411]:
vinos_df['country']

0            Italy
1         Portugal
2               US
3               US
4               US
            ...
129966     Germany
129967          US
129968      France
129969      France
129970      France
Name: country, Length: 129971, dtype: string

In [412]:
# Convertir columnas a tipos optimizados
vinos_df['country'] = vinos_df['country'].astype('category')
vinos_df['designation'] = vinos_df['designation'].astype('category')
vinos_df['province'] = vinos_df['province'].astype('category')
vinos_df['region_1'] = vinos_df['region_1'].astype('category')
vinos_df['region_2'] = vinos_df['region_2'].astype('category')
vinos_df['taster_name'] = vinos_df['taster_name'].astype('category')
vinos_df['taster_twitter_handle'] = vinos_df['taster_twitter_handle'].astype('category')
vinos_df['variety'] = vinos_df['variety'].astype('category')
vinos_df['winery'] = vinos_df['winery'].astype('category')

# Optimizar columnas numéricas
vinos_df['points'] = vinos_df['points'].astype('int8')  # Si el rango está entre 0-127
vinos_df['price'] = vinos_df['price'].astype('float32')


vinos_df['title'] = vinos_df['title'].astype('string')
vinos_df['description'] = vinos_df['description'].astype('string')

In [413]:
print(vinos_df.info(memory_usage='deep'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129971 entries, 0 to 129970
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   country                129908 non-null  category
 1   description            129971 non-null  string
 2   designation            92506 non-null   category
 3   points                 129971 non-null  int8
 4   price                  120975 non-null  float32
 5   province               129908 non-null  category
 6   region_1               108724 non-null  category
 7   region_2               50511 non-null   category
 8   taster_name            103727 non-null  category
 9   taster_twitter_handle  98758 non-null   category
 10  title                  129971 non-null  string
 11  variety                129970 non-null  category
 12  winery                 129971 non-null  category
dtypes: category(9), float32(1), int8(1), string(2)
memory usage: 63.2 MB
None

In [414]:
vinos_df.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,<NA>,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,<NA>,<NA>,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",<NA>,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,<NA>,Alexander Peartree,<NA>,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [415]:
vinos_df['country']

0            Italy
1         Portugal
2               US
3               US
4               US
            ...
129966     Germany
129967          US
129968      France
129969      France
129970      France
Name: country, Length: 129971, dtype: category
Categories (43, string): [Argentina, Armenia, Australia, Austria, ..., Turkey, US, Ukraine, Uruguay]

## describe()

In [416]:
vinos_df.describe()

              points          price
count  129971.000000  120975.000000
mean       88.447138      35.363388
std         3.039730      41.022217
min        80.000000       4.000000
25%        86.000000      17.000000
50%        88.000000      25.000000
75%        91.000000      42.000000
max       100.000000    3300.000000

In [417]:
vinos_df.describe( include='all')

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
count,129908,129971,92506,129971.000000,120975.000000,129908,108724,50511,103727,98758,129971,129970,129971
unique,43,119955,37979,NaN,NaN,425,1229,17,19,15,118840,707,16757
top,US,"Seductively tart in lemon pith, cranberry and ...",Reserve,NaN,NaN,California,Napa Valley,Central Coast,Roger Voss,@vossroger,Gloria Ferrer NV Sonoma Brut Sparkling (Sonoma...,Pinot Noir,Wines & Winemakers
freq,54504,3,2009,NaN,NaN,36247,4480,11065,25514,25514,11,13272,222
mean,NaN,NaN,NaN,88.447138,35.363388,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,3.039730,41.022217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,80.000000,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,86.000000,17.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,88.000000,25.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,91.000000,42.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,100.000000,3300.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## isnull().sum()
Verificar si hay valores nulos en el DataFrame y la cantidad.

In [418]:
vinos_df.isnull().sum()

country                     63
description                  0
designation              37465
points                       0
price                     8996
province                    63
region_1                 21247
region_2                 79460
taster_name              26244
taster_twitter_handle    31213
title                        0
variety                      1
winery                       0
dtype: int64

## column

In [419]:
vinos_df.columns

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'taster_name', 'taster_twitter_handle', 'title',
       'variety', 'winery'],
      dtype='object')

## dtypes

In [420]:
vinos_df.dtypes

country                        category
description              string[python]
designation                    category
points                             int8
price                           float32
province                       category
region_1                       category
region_2                       category
taster_name                    category
taster_twitter_handle          category
title                    string[python]
variety                        category
winery                         category
dtype: object

## unique()

In [421]:
vinos_df['country'].unique()

['Italy', 'Portugal', 'US', 'Spain', 'France', ..., 'Ukraine', 'Slovakia', 'Macedonia', 'China', 'Egypt']
Length: 44
Categories (43, string): [Argentina, Armenia, Australia, Austria, ..., Turkey, US, Ukraine, Uruguay]

In [422]:
print(list(vinos_df['country'].unique()))

['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany', 'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa', 'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico', 'Canada', <NA>, 'Turkey', 'Czech Republic', 'Slovenia', 'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England', 'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru', 'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland', 'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia', 'China', 'Egypt']

## value_counts()

In [423]:
vinos_df['country'].value_counts()

country
US                        54504
France                    22093
Italy                     19540
Spain                      6645
Portugal                   5691
Chile                      4472
Argentina                  3800
Austria                    3345
Australia                  2329
Germany                    2165
New Zealand                1419
South Africa               1401
Israel                      505
Greece                      466
Canada                      257
Hungary                     146
Bulgaria                    141
Romania                     120
Uruguay                     109
Turkey                       90
Slovenia                     87
Georgia                      86
England                      74
Croatia                      73
Mexico                       70
Moldova                      59
Brazil                       52
Lebanon                      35
Morocco                      28
Peru                         16
Ukraine                      14
Macedonia                    12
Serbia                       12
Czech Republic               12
Cyprus                       11
India                         9
Switzerland                   7
Luxembourg                    6
Armenia                       2
Bosnia and Herzegovina        2
China                         1
Slovakia                      1
Egypt                         1
Name: count, dtype: int64

---

# EJERCICIOS BÁSICOS 1º ANÁLISIS DATAFRAME

### Ejercicio

- 1.1 Usa head() para visualizar las primeras 7 filas del DataFrame reviews.
- 1.2 Obtén las dimensiones del DataFrame utilizando shape. ¿Cuántas filas y columnas tiene?
- 1.3 ¿Qué columnas tienen el mayor número de valores únicos? Utiliza nunique() para calcularlo.
- 1.4 Usa value_counts() en una columna categórica para identificar las 5 categorías más comunes.
- 1.5 Determina cuántos valores únicos tiene esa columna usando nunique().
- 1.6 Encuentra cuántos registros duplicados existen en el DataFrame con duplicated().sum().
- 1.7 Si hay duplicados, elimina los registros duplicados del DataFrame.
- 1.8 Encuentra cuántas filas tienen valores nulos en price y rellena esos valores con el promedio de la columna.
- 1.9 ¿Cuántos vinos tienen un price mayor que el promedio? Usa una combinación de shape y un filtro lógico para calcularlo.



AVANZADO

- 2.1 Rellena valores nulos en region_1 y reemplázalos por "unknown"
- 2.2 ¿Cuantos vinos tienen porints mayor o igual a 90 y un precio menor o igual a 20? Usa un filtro lógico para calcularlo

AVANZADO 2
- 3.1 ¿Qué vino es la "mejor oferta"? (puntos/precio)(puedes usar .loc y la función idmax())
- 3.2 Calcula la media de puntos para cada país con groupby
  - 3.2.1 Utiliza la función sort_values para ordenar el resultado por orden descendente de puntuación media.
- 3.3 Encuentra la provincia que tiene el vino más caro (price) en cada país. Muestra el país, la provincia y el precio más alto. (puedes usar loc + groupby)

In [424]:
# - 1.1 Usa head() para visualizar las primeras 7 filas del DataFrame reviews.
vinos_df.head(7)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,<NA>,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,<NA>,<NA>,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",<NA>,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,<NA>,Alexander Peartree,<NA>,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
5,Spain,Blackberry and raspberry aromas show a typical...,Ars In Vitro,87,15.0,Northern Spain,Navarra,<NA>,Michael Schachner,@wineschach,Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...,Tempranillo-Merlot,Tandem
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,<NA>,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo

In [425]:
# - 1.2 Obtén las dimensiones del DataFrame utilizando shape. ¿Cuántas filas y columnas tiene?
vinos_df.shape

(129971, 13)

In [426]:
# - 1.3 ¿Qué columnas tienen el mayor número de valores únicos? Utiliza nunique() para calcularlo.
vinos_df.nunique()

country                      43
description              119955
designation               37979
points                       21
price                       390
province                    425
region_1                   1229
region_2                     17
taster_name                  19
taster_twitter_handle        15
title                    118840
variety                     707
winery                    16757
dtype: int64

In [427]:
# - 1.4 Usa value_counts() en una columna categórica para identificar las 5 categorías más comunes.
vinos_df['country'].value_counts().head(5)

country
US          54504
France      22093
Italy       19540
Spain        6645
Portugal     5691
Name: count, dtype: int64

In [428]:
# - 1.5 Determina cuántos valores únicos tiene esa columna usando nunique().
vinos_df['country'].nunique()

43

In [429]:
# - 1.6 Encuentra cuántos registros duplicados existen en el DataFrame con duplicated().sum().
vinos_df.duplicated().sum()

9983

In [430]:
# - 1.7 Si hay duplicados, elimina los registros duplicados del DataFrame.
vinos_df.drop_duplicates(keep='first', inplace=True)
'''
Explicación de los parámetros:

    subset=['columna']: Especifica las columnas en las que basar la detección de duplicados.
    keep='first': Conserva la primera aparición del duplicado.
    keep='last': Conserva la última aparición del duplicado.
    inplace=True: Realiza la operación directamente en el DataFrame original.
'''

vinos_df.duplicated().sum()
vinos_df.reset_index(drop=True, inplace=True)
vinos_df

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,<NA>,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,<NA>,<NA>,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",<NA>,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,<NA>,Alexander Peartree,<NA>,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
...,...,...,...,...,...,...,...,...,...,...,...,...,...
119983,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,<NA>,<NA>,Anna Lee C. Iijima,<NA>,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
119984,US,Citation is given as much as a decade of bottl...,<NA>,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
119985,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,<NA>,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
119986,France,"A dry style of Pinot Gris, this is crisp with ...",<NA>,90,32.0,Alsace,Alsace,<NA>,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
119987,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,<NA>,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

In [431]:
# - 1.8 Encuentra cuántas filas tienen valores nulos en price y rellena esos valores con el promedio de la columna.
# nulos_price = vinos_df['price'].isnull().sum()
# print(f'Número de nulls ANTES de rellenar: {nulos_price}')


# filtro = vinos_df['price'].isnull()
# promedio =vinos_df['price'].mean()

# vinos_df.loc[filtro, 'price'] = promedio

# nulos_price = vinos_df['price'].isnull().sum()
# print(f'Número de nulls DESPUES de rellenar: {nulos_price}')


# Método más directo
nulos_price = vinos_df['price'].isnull().sum()
print(f'Número de nulls ANTES de rellenar: {nulos_price}')

vinos_df['price'] = vinos_df['price'].fillna(vinos_df['price'].mean())

nulos_price = vinos_df['price'].isnull().sum()
print(f'Número de nulls DESPUES de rellenar: {nulos_price}')

Número de nulls ANTES de rellenar: 8395
Número de nulls DESPUES de rellenar: 0

In [432]:
# Calcular el promedio de la columna 'price'
average_price = vinos_df['price'].mean()

# Filtrar vinos con 'price' mayor que el promedio
wines_above_average = vinos_df[vinos_df['price'] > average_price]

# Contar cuántos vinos cumplen la condición
count = wines_above_average.shape[0]

# Calcular el porcentaje
percentage = (count / vinos_df['price'].notnull().sum()) * 100

# Mostrar resultados
print(f"Cantidad de vinos con un precio mayor al promedio: {count}")
print(f"Porcentaje de vinos con un precio mayor al promedio: {percentage:.2f}%")

# Comprobación
print(f"Promedio del precio: {average_price}")
print(vinos_df['price'].describe())

Cantidad de vinos con un precio mayor al promedio: 36904
Porcentaje de vinos con un precio mayor al promedio: 30.76%
Promedio del precio: 35.62074661254883
count    119988.000000
mean         35.620747
std          40.604111
min           4.000000
25%          18.000000
50%          28.000000
75%          40.000000
max        3300.000000
Name: price, dtype: float64

In [433]:
vinos_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119988 entries, 0 to 119987
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   country                119929 non-null  category
 1   description            119988 non-null  string
 2   designation            85443 non-null   category
 3   points                 119988 non-null  int8
 4   price                  119988 non-null  float32
 5   province               119929 non-null  category
 6   region_1               100428 non-null  category
 7   region_2               46769 non-null   category
 8   taster_name            95071 non-null   category
 9   taster_twitter_handle  90542 non-null   category
 10  title                  119988 non-null  string
 11  variety                119987 non-null  category
 12  winery                 119988 non-null  category
dtypes: category(9), float32(1), int8(1), string(2)
memory usage: 6.2 MB

In [434]:
vinos_df.head(10)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,35.620747,Sicily & Sardinia,Etna,<NA>,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.000000,Douro,<NA>,<NA>,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",<NA>,87,14.000000,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.000000,Michigan,Lake Michigan Shore,<NA>,Alexander Peartree,<NA>,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.000000,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
5,Spain,Blackberry and raspberry aromas show a typical...,Ars In Vitro,87,15.000000,Northern Spain,Navarra,<NA>,Michael Schachner,@wineschach,Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...,Tempranillo-Merlot,Tandem
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.000000,Sicily & Sardinia,Vittoria,<NA>,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo
7,France,This dry and restrained wine offers spice in p...,<NA>,87,24.000000,Alsace,Alsace,<NA>,Roger Voss,@vossroger,Trimbach 2012 Gewurztraminer (Alsace),Gewürztraminer,Trimbach
8,Germany,Savory dried thyme notes accent sunnier flavor...,Shine,87,12.000000,Rheinhessen,<NA>,<NA>,Anna Lee C. Iijima,<NA>,Heinz Eifel 2013 Shine Gewürztraminer (Rheinhe...,Gewürztraminer,Heinz Eifel
9,France,This has great depth of flavor with its fresh ...,Les Natures,87,27.000000,Alsace,Alsace,<NA>,Roger Voss,@vossroger,Jean-Baptiste Adam 2012 Les Natures Pinot Gris...,Pinot Gris,Jean-Baptiste Adam

In [435]:
# AVANZADO
# - 2.1 Rellena valores nulos en region_1 y reemplázalos por "unknown"

print(f'Antes de rellenar: {vinos_df["region_1"].isnull().sum()}')

# Agregar 'unknown' como una categoría válida - Por usar tipo de dato CATEGORY  es necesario agregar una categoría nueva y no la cadena 'unknown' directamente.
vinos_df['region_1'] = vinos_df['region_1'].cat.add_categories(['unknown'])

# Reemplazar valores nulos con 'unknown'
vinos_df['region_1'] = vinos_df['region_1'].fillna('unknown')

# Verificar que no haya valores nulos
print(f'Después de rellenar: {vinos_df["region_1"].isnull().sum()}')  # Esto debería devolver 0

Antes de rellenar: 19560
Después de rellenar: 0

In [436]:
# - 2.2 ¿Cuantos vinos tienen points mayor o igual a 90 y un precio menor o igual a 20? Usa un filtro lógico para calcularlo


# Crear el filtro lógico
filtro = vinos_df[(vinos_df['points'] >= 90) & (vinos_df['price'] <= 20)]

# Contar cuántos vinos cumplen la condición
count = filtro.shape[0]

print(f"Cantidad de vinos con puntos >= 90 y precio <= 20: {count}")

# Porcentaje de vinos con puntos >= 90 y precio <= 20
total_vinos = vinos_df.shape[0]
percentage = (count / total_vinos) * 100
print(f"Porcentaje de vinos con puntos >= 90 y precio <= 20: {percentage:.2f}%")

Cantidad de vinos con puntos >= 90 y precio <= 20: 4813
Porcentaje de vinos con puntos >= 90 y precio <= 20: 4.01%

In [437]:
# Otra forma

# Filtrar con .between() para puntos y precio
count = vinos_df[(vinos_df['points'].between(90, 100)) & (vinos_df['price'].between(0, 20))].shape[0]

print(f"Cantidad de vinos con puntos >= 90 y precio <= 20: {count}")

Cantidad de vinos con puntos >= 90 y precio <= 20: 4813

In [438]:
# AVANZADO 2
# - 3.1 ¿Qué vino es la "mejor oferta"? (puntos/precio)(puedes usar .loc y la función idmax())
# Crear una nueva columna para puntos/precio
vinos_df['points_per_price'] = vinos_df['points'] / vinos_df['price']

# Encontrar el índice del vino con la mejor oferta
best_offer_index = vinos_df['points_per_price'].idxmax()

# Usar .loc para mostrar el vino con la mejor oferta
best_offer = vinos_df.loc[best_offer_index]
print("Mejor oferta:")
print(best_offer[['title', 'points', 'price', 'points_per_price']])

Mejor oferta:
title               Bandit NV Merlot (California)
points                                         86
price                                         4.0
points_per_price                             21.5
Name: 61968, dtype: object

In [439]:
# - 3.2 Calcula la media de puntos para cada país con groupby
#   - 3.2.1 Utiliza la función sort_values para ordenar el resultado por orden descendente de puntuación media.
# Calcular la media de puntos por país
mean_points_by_country = vinos_df.groupby('country')['points'].mean()

# Ordenar por puntuación media descendente
sorted_mean_points = mean_points_by_country.sort_values(ascending=False)

print("Media de puntos por país (ordenada):")
print(sorted_mean_points)

Media de puntos por país (ordenada):
country
England                   91.746032
India                     90.250000
Austria                   90.129532
Germany                   89.895582
Canada                    89.309735
Hungary                   89.294574
China                     89.000000
France                    88.866752
Luxembourg                88.800000
Morocco                   88.708333
Italy                     88.576198
Australia                 88.561220
US                        88.555384
Switzerland               88.500000
Israel                    88.454936
New Zealand               88.299687
Portugal                  88.263128
Slovenia                  88.129870
Turkey                    88.074074
South Africa              88.033820
Bulgaria                  87.878788
Serbia                    87.625000
Georgia                   87.605263
Lebanon                   87.593750
Armenia                   87.500000
Greece                    87.238426
Spain                     87.235612
Croatia                   87.185714
Moldova                   87.142857
Cyprus                    87.100000
Czech Republic            87.090909
Slovakia                  87.000000
Macedonia                 86.818182
Uruguay                   86.663265
Argentina                 86.649831
Bosnia and Herzegovina    86.500000
Chile                     86.460564
Romania                   86.313725
Mexico                    85.161765
Brazil                    84.632653
Ukraine                   84.071429
Egypt                     84.000000
Peru                      83.562500
Name: points, dtype: float64

/tmp/ipykernel_161513/2171577568.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mean_points_by_country = vinos_df.groupby('country')['points'].mean()

In [440]:
# - 3.3 Encuentra la provincia que tiene el vino más caro (price) en cada país. Muestra el país, la provincia y el precio más alto. (puedes usar loc + groupby)
# Crear un DataFrame con el precio máximo por país
max_price_by_country = vinos_df.groupby('country', observed=True)['price'].max().reset_index()

# Combinar con el DataFrame original para obtener las provincias correspondientes
province_max_price = vinos_df.merge(max_price_by_country, on=['country', 'price'], how='inner')[['country', 'province', 'price']]

print("Provincia con el vino más caro en cada país:")
print(province_max_price)

Provincia con el vino más caro en cada país:
                   country                   province        price
0                  Germany                   Rheingau   775.000000
1                   Greece                    Epanomi    79.000000
2                  Lebanon                    Lebanon    75.000000
3                    India                     Nashik    20.000000
4           Czech Republic                    Moravia    45.000000
5             South Africa               Stellenbosch   330.000000
6                   Canada           British Columbia   120.000000
7                    Spain                  Catalonia   770.000000
8   Bosnia and Herzegovina                     Mostar    13.000000
9                  Germany                   Rheingau   775.000000
10                 Croatia                   Peljesac    65.000000
11             Switzerland                Switzerland   160.000000
12                Slovakia                      Muzla    16.000000
13                 Lebanon                    Lebanon    75.000000
14                 Croatia  Middle and South Dalmatia    65.000000
15                 Georgia                    Kakheti    40.000000
16             Switzerland                Switzerland   160.000000
17                Portugal                       Port  1000.000000
18                    Peru                        Ica    68.000000
19               Macedonia                     Tikves    20.000000
20                 Moldova                    Moldova    42.000000
21                 Germany                   Rheingau   775.000000
22                 Germany                   Rheingau   775.000000
23                  Cyprus                    Lemesos    21.000000
24                   Chile               Maipo Valley   400.000000
25              Luxembourg    Moselle Luxembourgeoise    30.000000
26                 Hungary                     Tokaji   764.000000
27                  Turkey                     Aegean   120.000000
28               Australia            South Australia   850.000000
29               Argentina           Mendoza Province   230.000000
30                 Morocco                 Guerrouane    40.000000
31                 Armenia                    Armenia    15.000000
32                 England                    England    95.000000
33                  Mexico         Valle de Guadalupe   108.000000
34                  Serbia                       Župa    42.000000
35               Australia            South Australia   850.000000
36                  France                   Bordeaux  3300.000000
37                  Israel                    Galilee   150.000000
38                   Chile               Maipo Valley   400.000000
39               Argentina           Mendoza Province   230.000000
40                Slovenia               Goriska Brda    90.000000
41                   Italy                    Tuscany   900.000000
42                 Austria                     Wachau  1100.000000
43                 Uruguay                    Juanico   130.000000
44                  Brazil              Vale Trentino    60.000000
45                 Ukraine                    Ukraine    13.000000
46                   Chile               Maipo Valley   400.000000
47                   China                      China    18.000000
48                   Egypt                      Egypt    35.620747
49             New Zealand              Central Otago   130.000000
50                 Romania                 Vânju Mare   320.000000
51                  Greece                    Epanomi    79.000000
52                Bulgaria            Thracian Valley   100.000000
53                      US                 California  2013.000000
54                 Ukraine                    Ukraine    13.000000

---

# Indexing

## iloc (posición) and loc (etiquetas)

In [441]:
vinos_df.iloc[[0]] # first row

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,points_per_price
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,35.620747,Sicily & Sardinia,Etna,<NA>,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,2.442397

In [442]:
vinos_df.iloc[0,2] # first row, second column

'Vulkà Bianco'

In [443]:
vinos_df.iloc[0:2,2] # first two rows, column 2

0    Vulkà Bianco
1        Avidagos
Name: designation, dtype: category
Categories (37979, string): [#19 Phantom Limb Belmont Vineyard, #50 Mon Chou, #SocialSecret, %@#$!, ..., ‘S', “Champ” Jim the Gent, “Champ” Lightnin' Lane, “P”]

In [444]:
vinos_df.loc[0:3] # loc incluye hasta el último indice.

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,points_per_price
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,35.620747,Sicily & Sardinia,Etna,<NA>,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,2.442397
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.000000,Douro,unknown,<NA>,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,5.800000
2,US,"Tart and snappy, the flavors of lime flesh and...",<NA>,87,14.000000,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,6.214286
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.000000,Michigan,Lake Michigan Shore,<NA>,Alexander Peartree,<NA>,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,6.692307

---

# GroupBy

In [445]:
vinos_df.groupby(['points']).points.count() # group by points and count

points
80       397
81       689
82      1814
83      2963
84      6225
85      9067
86     11526
87     15279
88     15291
89     11147
90     13893
91     10559
92      8951
93      6170
94      3625
95      1514
96       521
97       228
98        77
99        33
100       19
Name: points, dtype: int64

In [446]:
vinos_df.groupby('points').price.min() # min price per point

points
80      5.000000
81      5.000000
82      4.000000
83      4.000000
84      4.000000
85      4.000000
86      4.000000
87      5.000000
88      6.000000
89      7.000000
90      8.000000
91      7.000000
92     11.000000
93     12.000000
94     13.000000
95     20.000000
96     20.000000
97     35.000000
98     35.620747
99     35.620747
100    80.000000
Name: price, dtype: float32

## agg

In [447]:
vinos_df.groupby(['country']).price.agg(['min', 'max', 'mean'])

/tmp/ipykernel_161513/2895586718.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  vinos_df.groupby(['country']).price.agg(['min', 'max', 'mean'])

                              min          max       mean
country
Argentina                4.000000   230.000000  24.709282
Armenia                 14.000000    15.000000  14.500000
Australia                5.000000   850.000000  35.685654
Austria                  7.000000  1100.000000  32.039925
Bosnia and Herzegovina  12.000000    13.000000  12.500000
Brazil                  10.000000    60.000000  25.634771
Bulgaria                 8.000000   100.000000  14.840909
Canada                  12.000000   120.000000  35.775406
Chile                    5.000000   400.000000  21.038843
China                   18.000000    18.000000  18.000000
Croatia                 12.000000    65.000000  25.817736
Cyprus                  11.000000    21.000000  16.500000
Czech Republic          15.000000    45.000000  22.363636
Egypt                   35.620747    35.620747  35.620747
England                 25.000000    95.000000  51.594967
France                   5.000000  3300.000000  40.720562
Georgia                  9.000000    40.000000  19.792650
Germany                  5.000000   775.000000  43.299423
Greece                   8.000000    79.000000  22.400703
Hungary                 10.000000   764.000000  42.183105
India                   10.000000    20.000000  13.750000
Israel                   8.000000   150.000000  31.877831
Italy                    5.000000   900.000000  39.343861
Lebanon                 13.000000    75.000000  30.281250
Luxembourg              16.000000    30.000000  23.400000
Macedonia               15.000000    20.000000  15.636364
Mexico                   8.000000   108.000000  26.470589
Moldova                  8.000000    42.000000  16.732143
Morocco                 14.000000    40.000000  18.958334
New Zealand              7.000000   130.000000  27.094358
Peru                    10.000000    68.000000  18.062500
Portugal                 5.000000  1000.000000  27.854841
Romania                  4.000000   320.000000  15.333333
Serbia                  15.000000    42.000000  24.875000
Slovakia                16.000000    16.000000  16.000000
Slovenia                 7.000000    90.000000  26.459028
South Africa             5.000000   330.000000  25.251961
Spain                    4.000000   770.000000  28.286886
Switzerland             21.000000   160.000000  72.833336
Turkey                  14.000000   120.000000  24.950617
US                       4.000000  2013.000000  36.692848
Ukraine                  6.000000    13.000000   9.214286
Uruguay                 10.000000   130.000000  26.326530

## Agrupación varias columnas -  Multi-index

In [448]:
vinos_df.groupby(['country', 'province'], observed=True).description.agg([len])

                             len
country   province
Argentina Mendoza Province  3038
          Other              506
Armenia   Armenia              2
Australia Australia Other    231
          New South Wales     82
...                          ...
Uruguay   Juanico             11
          Montevideo          10
          Progreso            11
          San Jose             3
          Uruguay             23

[425 rows x 1 columns]

In [449]:
# Mostrar toda la tabla del comando especificado
# print(vinos_df.groupby(['country', 'province']).description.agg([len]).to_string())

# # Ajustar el número máximo de columnas que se muestran
# pd.options.display.max_columns = None

# # Ajustar el ancho máximo de cada columna
# pd.options.display.max_colwidth = None

# # Ajustar el número máximo de filas (opcional, si lo necesitas)
# pd.options.display.max_rows = None